<div class="popup-overlay" style="visibility: none;">
    <div class="popup-content" data-id="image">
        <button class="close-btn">×</button>
        <img src="" alt="">
    </div>
    <div id="controls">
        <h3 id="image-title"></h3>
        <ul>
            {{checkboxes}}
        </ul>
        <button id="toggle-all-btn">Hide all</button>
        {{save_module}}
    </div>
</div>