<li title="{{description}}" id="li_{{id}}">
    <input type="checkbox" id="checkbox_{{id}}" data-id="{{id}}" {{checked}} onchange="toggle_visibility(this)">
    <label for="checkbox_{{id}}">{{label}}</label>
</li>