<details>
  <summary>Downloads</summary>
  <ul>
    {% for data in embedded_data %}
    <li>
      <a href="data:{{ data.mime_type }},{{ data.content | urlencode }}" download="{{ data.name }}">
        {{ data.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</details>