<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script>
        {{javascript}}
    </script>
    <style>
        body {
            background: black;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
        }

        svg {
            max-height: 95%;
            /* not using vh to allow zooming*/
        }

        #controls {
            margin: 5em;
        }

        ul {
            list-style-type: none;
            padding: 0.5em;
        }
    </style>
    <script>
        function toggle_visibility(cb) {
            let svg_id = cb.dataset.id;
            let visibility = cb.checked ? "visible" : "hidden";
            const elm = document.getElementById(svg_id);
            if (elm) {
                elm.style.visibility = visibility;
            } else {
                console.error(`Element with id ${svg_id} not found`);
            }
        }

        function change_all(visibility) {
            let elms = document.querySelectorAll("input[type='checkbox']");
            console.log(visibility);
            for (elm of elms) {
                elm.checked = visibility == "visible";
                toggle_visibility(elm);
            }
        }
    </script>
</head>

<body>
    <div id="image">
        {{svg}}
    </div>
    <div id="controls">
        <h2>Show / Hide</h2>
        <form>
            <ul>
                {{checkboxes}}
            </ul>
        </form>
        <button onclick="change_all('visible')">Show All</button>
        <button onclick="change_all('hidden')">Hide All</button>
        </form>
        <form>
        <details>
        <summary>Save📷</summary>
            <select id="format" title="format">
                <option value="png">PNG</option>
                <option value="jpeg">JPEG</option>
            </select>
            <select id="scale" title="scale">
                <option value="0.5">0.5x</option>
                <option value="1" selected>1x</option>
                <option value="2">2x</option>
                <option value="3">3x</option>
                <option value="4">4x</option>
            </select>
            <button onclick="convertSvg()" title="Save image as png/jpg">Save</button>
        </details>
        </form>
    </div>
</body>

</html>